---
import Layout from '../layouts/Layout.astro';
import Contactame from '../components/Contactame.astro';
import Inicio from '../components/Inicio.astro';
import About from '../components/about.astro';
import Proyectos from '../components/proyectos.astro';
---

<Layout>
	<section id="inicio" class="inicio"><Inicio/></section>
	<section id="about" class="about"><About/></section>
  	<section id="proyectos" class="proyectos"><Proyectos/></section>
  	<section id="contactame" class="contactame"><Contactame/></section>
</Layout>
