---
// src/components/ContactForm.astro
---


    <div class="contact-container">
      <h2>Contáctame</h2>
        <form action="https://formspree.io/f/mldjvqaq" method="POST" class="contact-form">
          <label>
            Nombre:
            <input type="text" name="name" required />
          </label>
          <label>
            Correo:
            <input type="email" name="email" required />
          </label>
          <label>
            Mensaje:
            <textarea name="message" required></textarea>
          </label>
          <button type="submit">Enviar</button>
        </form>
    </div>
  