---
const currentYear = new Date().getFullYear();
---
  <div class="footer-content">
    <p>&copy; {currentYear} Sebastian Ñeguey Reyes. Todos los derechos reservados.</p>
    <div class="social-icons">
      <a href="https://github.com/SebastianNeguey" target="_blank" aria-label="GitHub">
        <svg fill="currentColor" height="24" width="24" viewBox="0 0 24 24">
          <path d="M12 0.3a12 12 0 0 0-3.79 23.4c0.6 0.1 0.82-0.26 0.82-0.58v-2.17c-3.34 0.73-4.04-1.6-4.04-1.6-0.55-1.4-1.35-1.77-1.35-1.77-1.1-0.75 0.09-0.74 0.09-0.74 1.22 0.09 1.86 1.26 1.86 1.26 1.08 1.86 2.84 1.33 3.53 1.02 0.11-0.78 0.42-1.33 0.76-1.63-2.66-0.3-5.47-1.33-5.47-5.93 0-1.31 0.47-2.38 1.24-3.23-0.12-0.3-0.54-1.52 0.12-3.18 0 0 1-0.32 3.3 1.23a11.5 11.5 0 0 1 6 0c2.3-1.55 3.3-1.23 3.3-1.23 0.66 1.66 0.24 2.88 0.12 3.18 0.77 0.85 1.23 1.92 1.23 3.23 0 4.61-2.81 5.63-5.49 5.92 0.43 0.38 0.81 1.12 0.81 2.25v3.33c0 0.32 0.22 0.69 0.82 0.58A12 12 0 0 0 12 0.3z"/>
        </svg>
      </a>
      <a href="https://linkedin.com/in/sebastian-leonardo-neguey-reyes-94a3391b9" target="_blank" aria-label="LinkedIn">
        <svg fill="currentColor" height="24" width="24" viewBox="0 0 24 24">
          <path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11.5 19h-3v-10h3v10zm-1.5-11.27c-.97 0-1.75-.79-1.75-1.76s.78-1.75 1.75-1.75 1.75.78 1.75 1.75-.78 1.76-1.75 1.76zm13 11.27h-3v-5.5c0-1.31-.03-3-1.84-3-1.84 0-2.12 1.44-2.12 2.92v5.58h-3v-10h2.88v1.36h.04c.4-.76 1.36-1.56 2.8-1.56 2.99 0 3.54 1.97 3.54 4.54v5.66z"/>
        </svg>
      </a>
    </div>
  </div>