---
// Inicio.astro
---

    <div class="inicio-contenido">
      <div class="texto">
        <h1>¡Hola! Soy <span class="nombre">Sebastian Ñeguey Reyes</span></h1>
        <h2>Desarrollador Web</h2>
        <p>
          Apasionado por crear soluciones web eficientes y modernas.
        </p>
      </div>
    </div>
  